
b{
	margin-top:20px;
}

body {
	font-family: sans-serif;
}

h1{
	text-align:center;
	font-weight:600;
    font-size: 24px;
	margin-top:20px;
}

h2{
	font-weight:600;
	font-size: 24px;
	margin-bottom:15px;
}

.head{
	border-bottom:1px gray solid;
	margin-bottom:20px;
}

.quizForm {
	width: 600px;
	border: 1px solid gray;
	background: whitesmoke;
	margin: 0 auto;
	margin-top: 20px;
}
.quizBlock {
	margin: 30px;
	padding: 10px;
}

.quizHeader{
	margin:20px 0;
	padding-left:20px;
}

button {
	border: 1px solid black;
    background-color: #cee2f2;
    text-align: center;
    font-size: 16px;
    padding: 15px 10px;
    margin: 0 30%;
    font-size: 18px;
    width: 45%;
	margin-bottom:25px;
}
#modal{
	position: fixed; 
	width: 30%; 
	height: 0;
	border-radius: 15px;
	border: 1px gray solid;
	box-shadow: 2px 2px 5px black;
    background-color: #cee2f2;
	top: 20%;
    left: 30%;
	opacity: 0; 
	z-index: 5; 
	padding: 25px;
}
#modal #modal_close {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
	font-weight:900;
}
#overlay {
	z-index: 3;
	position: fixed; 
	opacity:0.3; 
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	background-color:#111; 
	display:none;
}

#overlay: hover {
	opacity:0.7;
	transition:1s;

}

p {
	text-align: center;
	font-size: 20px;
}
.correct {
	font-style:italic;
	font-weight:bold;
	color: green;
}

.incorrect {
	font-style:italic;
	font-weight:bold;
	color: red;
}